/* line 1, ../Dev/gc.scss */
.btn-toggle {
  float: right;
  position: relative;
  top: 9px;
  right: 10px;
}

/* line 4, ../Dev/gc.scss */
.btn-toggle-btn {
  display: inline-block;
  width: 24px;
  height: 20px;
  border: 1px solid #d8d8d8;
  border-left: 0;
}
/* line 10, ../Dev/gc.scss */
.btn-toggle-btn:first-child {
  border-left: 1px solid #d8d8d8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 16, ../Dev/gc.scss */
.btn-toggle-btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 21, ../Dev/gc.scss */
.btn-toggle-btn.active {
  background-color: #4078c0;
  border-color: #4078c0;
}
/* line 26, ../Dev/gc.scss */
.btn-toggle-btn i {
  display: block;
  position: relative;
}
/* line 28, ../Dev/gc.scss */
.btn-toggle-btn i:before, .btn-toggle-btn i:after {
  content: '';
  position: absolute;
}
/* line 34, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal i {
  background-color: #bbb;
  width: 11px;
  height: 11px;
  left: 6px;
  top: 4px;
}
/* line 38, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal i:before, .btn-toggle-btn.btn-normal i:after {
  background-color: #f5f5f5;
}
/* line 41, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal i:before {
  top: 5px;
  left: 0px;
  width: 11px;
  height: 1px;
}
/* line 45, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal i:after {
  top: 0;
  left: 5px;
  width: 1px;
  height: 11px;
}
/* line 51, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal.active i {
  background-color: #f5f5f5;
}
/* line 53, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal.active i:before, .btn-toggle-btn.btn-normal.active i:after {
  background-color: #4078c0;
}
/* line 61, ../Dev/gc.scss */
.btn-toggle-btn.btn-bar i, .btn-toggle-btn.btn-bar i:before, .btn-toggle-btn.btn-bar i:after {
  background-color: #f5f5f5;
  border: 1px solid #bbb;
  -webkit-transform: skewY(30deg);
  transform: skewY(30deg);
}
/* line 68, ../Dev/gc.scss */
.btn-toggle-btn.btn-bar i {
  top: 8px;
  left: 6px;
  width: 6px;
  height: 6px;
}
/* line 71, ../Dev/gc.scss */
.btn-toggle-btn.btn-bar i:before {
  top: -5px;
  left: 4px;
  width: 4px;
  height: 5px;
  -webkit-transform: skewY(-50deg);
  transform: skewY(-50deg);
}
/* line 77, ../Dev/gc.scss */
.btn-toggle-btn.btn-bar i:after {
  top: -8px;
  left: 2px;
  width: 3px;
  height: 6px;
  -webkit-transform: skewX(-40deg);
  transform: skewX(-40deg);
}
/* line 85, ../Dev/gc.scss */
.btn-toggle-btn.btn-bar.active i, .btn-toggle-btn.btn-bar.active i:before, .btn-toggle-btn.btn-bar.active i:after {
  background-color: #4078c0;
  border-color: #f5f5f5;
}
/* line 93, ../Dev/gc.scss */
.btn-toggle-btn.btn-pie i {
  z-index: 2;
  top: 8px;
  left: 6px;
  width: 12px;
  height: 5px;
  background-color: #f5f5f5;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
/* line 100, ../Dev/gc.scss */
.btn-toggle-btn.btn-pie i:before, .btn-toggle-btn.btn-pie i:after {
  left: -1px;
  width: 10px;
  height: 5px;
  border: 1px solid #bbb;
  border-radius: 100%;
  background-color: #f5f5f5;
}
/* line 107, ../Dev/gc.scss */
.btn-toggle-btn.btn-pie i:before {
  top: -4px;
}
/* line 110, ../Dev/gc.scss */
.btn-toggle-btn.btn-pie i:after {
  bottom: -2px;
  z-index: -1;
}
/* line 116, ../Dev/gc.scss */
.btn-toggle-btn.btn-pie.active i, .btn-toggle-btn.btn-pie.active i:before, .btn-toggle-btn.btn-pie.active i:after {
  background-color: #4078c0;
  border-color: #f5f5f5;
}

/* line 129, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day4 polygon:nth-child(1) {
  fill: #003366;
}
/* line 132, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day4 polygon:nth-child(2) {
  fill: #004275;
}
/* line 135, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day4 polygon:nth-child(3) {
  fill: #005083;
}
/* line 142, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day3 polygon:nth-child(1) {
  fill: #006699;
}
/* line 145, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day3 polygon:nth-child(2) {
  fill: #0075aa;
}
/* line 148, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day3 polygon:nth-child(3) {
  fill: #0083bb;
}
/* line 155, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day2 polygon:nth-child(1) {
  fill: #3383aa;
}
/* line 158, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day2 polygon:nth-child(2) {
  fill: #3391bb;
}
/* line 161, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day2 polygon:nth-child(3) {
  fill: #3399cc;
}
/* line 168, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day1 polygon:nth-child(1) {
  fill: #66aacc;
}
/* line 171, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day1 polygon:nth-child(2) {
  fill: #66b5d6;
}
/* line 174, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg g.day1 polygon:nth-child(3) {
  fill: #66bfdf;
}
/* line 180, ../Dev/gc.scss */
.gc-blue .js-calendar-d-svg text.legend-number {
  fill: #006699;
}

/* line 190, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day4 polygon:nth-child(1) {
  fill: #660000;
}
/* line 193, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day4 polygon:nth-child(2) {
  fill: #662f20;
}
/* line 196, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day4 polygon:nth-child(3) {
  fill: #663f30;
}
/* line 203, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day3 polygon:nth-child(1) {
  fill: #990033;
}
/* line 206, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day3 polygon:nth-child(2) {
  fill: #993333;
}
/* line 209, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day3 polygon:nth-child(3) {
  fill: #996666;
}
/* line 216, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day2 polygon:nth-child(1) {
  fill: #cc0033;
}
/* line 219, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day2 polygon:nth-child(2) {
  fill: #cc3366;
}
/* line 222, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day2 polygon:nth-child(3) {
  fill: #cc6666;
}
/* line 229, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day1 polygon:nth-child(1) {
  fill: #ff6666;
}
/* line 232, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day1 polygon:nth-child(2) {
  fill: #ff7c7c;
}
/* line 235, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg g.day1 polygon:nth-child(3) {
  fill: #ff9999;
}
/* line 241, ../Dev/gc.scss */
.gc-red .js-calendar-d-svg text.legend-number {
  fill: #990033;
}

/* line 249, ../Dev/gc.scss */
.js-calendar-d-svg g.legend rect {
  opacity: 0.3;
}
/* line 251, ../Dev/gc.scss */
.js-calendar-d-svg g.legend rect:hover {
  stroke: #cccccc;
  stroke-width: 1px;
  opacity: 0.5;
}
/* line 258, ../Dev/gc.scss */
.js-calendar-d-svg g.legend:hover rect {
  opacity: 0.6;
}
/* line 264, ../Dev/gc.scss */
.js-calendar-d-svg g:hover polygon {
  stroke: #4078c0;
  stroke-width: 1px;
}
/* line 271, ../Dev/gc.scss */
.js-calendar-d-svg g.day4 polygon:nth-child(1) {
  fill: #003f00;
}
/* line 274, ../Dev/gc.scss */
.js-calendar-d-svg g.day4 polygon:nth-child(2) {
  fill: #08530d;
}
/* line 277, ../Dev/gc.scss */
.js-calendar-d-svg g.day4 polygon:nth-child(3) {
  fill: #1e6823;
}
/* line 284, ../Dev/gc.scss */
.js-calendar-d-svg g.day3 polygon:nth-child(1) {
  fill: #1b7a15;
}
/* line 287, ../Dev/gc.scss */
.js-calendar-d-svg g.day3 polygon:nth-child(2) {
  fill: #2f8e29;
}
/* line 290, ../Dev/gc.scss */
.js-calendar-d-svg g.day3 polygon:nth-child(3) {
  fill: #44a340;
}
/* line 297, ../Dev/gc.scss */
.js-calendar-d-svg g.day2 polygon:nth-child(1) {
  fill: #639c3d;
}
/* line 300, ../Dev/gc.scss */
.js-calendar-d-svg g.day2 polygon:nth-child(2) {
  fill: #77b051;
}
/* line 303, ../Dev/gc.scss */
.js-calendar-d-svg g.day2 polygon:nth-child(3) {
  fill: #8cc665;
}
/* line 310, ../Dev/gc.scss */
.js-calendar-d-svg g.day1 polygon:nth-child(1) {
  fill: #adbd5d;
}
/* line 313, ../Dev/gc.scss */
.js-calendar-d-svg g.day1 polygon:nth-child(2) {
  fill: #c1d171;
}
/* line 316, ../Dev/gc.scss */
.js-calendar-d-svg g.day1 polygon:nth-child(3) {
  fill: #d6e685;
}
/* line 323, ../Dev/gc.scss */
.js-calendar-d-svg g.day0 polygon:nth-child(1) {
  fill: #c6c6c6;
}
/* line 326, ../Dev/gc.scss */
.js-calendar-d-svg g.day0 polygon:nth-child(2) {
  fill: #dbdbdb;
}
/* line 329, ../Dev/gc.scss */
.js-calendar-d-svg g.day0 polygon:nth-child(3) {
  fill: #eeeeee;
}
/* line 335, ../Dev/gc.scss */
.js-calendar-d-svg text {
  font-size: 12px;
  fill: #aaa;
}
/* line 338, ../Dev/gc.scss */
.js-calendar-d-svg text.legend-muted {
  fill: #333;
}
/* line 341, ../Dev/gc.scss */
.js-calendar-d-svg text.legend-number {
  font-size: 30px;
  fill: #1b7a15;
  text-anchor: end;
}
