/* line 1, ../Dev/gc.scss */
.btn-toggle {
  float: right;
  position: relative;
  top: 9px;
  right: 10px;
}

/* line 4, ../Dev/gc.scss */
.btn-toggle-btn {
  display: inline-block;
  width: 24px;
  height: 20px;
  border: 1px solid #d8d8d8;
  border-left: 0;
}
/* line 10, ../Dev/gc.scss */
.btn-toggle-btn:first-child {
  border-left: 1px solid #d8d8d8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 16, ../Dev/gc.scss */
.btn-toggle-btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 21, ../Dev/gc.scss */
.btn-toggle-btn.active {
  background-color: #4078c0;
  border-color: #4078c0;
}
/* line 26, ../Dev/gc.scss */
.btn-toggle-btn i {
  display: block;
  position: relative;
}
/* line 28, ../Dev/gc.scss */
.btn-toggle-btn i:before, .btn-toggle-btn i:after {
  content: '';
  position: absolute;
}
/* line 34, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal i {
  background-color: #bbb;
  width: 11px;
  height: 11px;
  left: 6px;
  top: 4px;
}
/* line 38, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal i:before, .btn-toggle-btn.btn-normal i:after {
  background-color: #f5f5f5;
}
/* line 41, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal i:before {
  top: 5px;
  left: 0px;
  width: 11px;
  height: 1px;
}
/* line 45, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal i:after {
  top: 0;
  left: 5px;
  width: 1px;
  height: 11px;
}
/* line 51, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal.active i {
  background-color: #f5f5f5;
}
/* line 53, ../Dev/gc.scss */
.btn-toggle-btn.btn-normal.active i:before, .btn-toggle-btn.btn-normal.active i:after {
  background-color: #4078c0;
}
/* line 61, ../Dev/gc.scss */
.btn-toggle-btn.btn-bar i, .btn-toggle-btn.btn-bar i:before, .btn-toggle-btn.btn-bar i:after {
  background-color: #f5f5f5;
  border: 1px solid #bbb;
  -webkit-transform: skewY(30deg);
  transform: skewY(30deg);
}
/* line 68, ../Dev/gc.scss */
.btn-toggle-btn.btn-bar i {
  top: 8px;
  left: 6px;
  width: 6px;
  height: 6px;
}
/* line 71, ../Dev/gc.scss */
.btn-toggle-btn.btn-bar i:before {
  top: -5px;
  left: 4px;
  width: 4px;
  height: 5px;
  -webkit-transform: skewY(-50deg);
  transform: skewY(-50deg);
}
/* line 77, ../Dev/gc.scss */
.btn-toggle-btn.btn-bar i:after {
  top: -8px;
  left: 2px;
  width: 3px;
  height: 6px;
  -webkit-transform: skewX(-40deg);
  transform: skewX(-40deg);
}
/* line 85, ../Dev/gc.scss */
.btn-toggle-btn.btn-bar.active i, .btn-toggle-btn.btn-bar.active i:before, .btn-toggle-btn.btn-bar.active i:after {
  background-color: #4078c0;
  border-color: #f5f5f5;
}
/* line 93, ../Dev/gc.scss */
.btn-toggle-btn.btn-pie i {
  z-index: 2;
  top: 8px;
  left: 6px;
  width: 12px;
  height: 5px;
  background-color: #f5f5f5;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
/* line 100, ../Dev/gc.scss */
.btn-toggle-btn.btn-pie i:before, .btn-toggle-btn.btn-pie i:after {
  left: -1px;
  width: 10px;
  height: 5px;
  border: 1px solid #bbb;
  border-radius: 100%;
  background-color: #f5f5f5;
}
/* line 107, ../Dev/gc.scss */
.btn-toggle-btn.btn-pie i:before {
  top: -4px;
}
/* line 110, ../Dev/gc.scss */
.btn-toggle-btn.btn-pie i:after {
  bottom: -2px;
  z-index: -1;
}
/* line 116, ../Dev/gc.scss */
.btn-toggle-btn.btn-pie.active i, .btn-toggle-btn.btn-pie.active i:before, .btn-toggle-btn.btn-pie.active i:after {
  background-color: #4078c0;
  border-color: #f5f5f5;
}

/* line 127, ../Dev/gc.scss */
.js-calendar-d-svg g:hover polygon {
  stroke: #4078c0;
  stroke-width: 1px;
}
