@charset "UTF-8";
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 56, base/*.png */
.base-sprite, .footer .footer-copyright .footer-snsinfo .snsinfo__weixin .wechat-code {
  background-image: url('../../i/base-s2cd367b3e6.png');
  background-repeat: no-repeat;
}

/* line 6, ../../sass/partials/base.scss */
* {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

/* line 12, ../../sass/partials/base.scss */
.cf:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 21, ../../sass/partials/base.scss */
.fl {
  float: left;
}

/* line 24, ../../sass/partials/base.scss */
.fr {
  float: right;
}

/* line 27, ../../sass/partials/base.scss */
.ct {
  margin: 0 auto;
}

/* line 30, ../../sass/partials/base.scss */
a {
  color: #666;
  text-decoration: none;
}

/* line 34, ../../sass/partials/base.scss */
a.common-link, .footer .footer-sitelink .nav-group li a {
  display: block;
  border-bottom: 1px solid #d7d7d7;
}
/* line 37, ../../sass/partials/base.scss */
a.common-link:hover, .footer .footer-sitelink .nav-group li a:hover {
  color: #522f60;
  border-bottom: 1px solid #522f60;
}
/* line 40, ../../sass/partials/base.scss */
a.common-link:hover:before, .footer .footer-sitelink .nav-group li a:hover:before, a.common-link:hover:after, .footer .footer-sitelink .nav-group li a:hover:after {
  color: #522f60;
}
/* line 44, ../../sass/partials/base.scss */
a.common-link:before, .footer .footer-sitelink .nav-group li a:before {
  content: "{";
}
/* line 47, ../../sass/partials/base.scss */
a.common-link:after, .footer .footer-sitelink .nav-group li a:after {
  content: "}";
}
/* line 50, ../../sass/partials/base.scss */
a.common-link:before, .footer .footer-sitelink .nav-group li a:before, a.common-link:after, .footer .footer-sitelink .nav-group li a:after {
  color: #d7d7d7;
}

/* line 56, ../../sass/partials/base.scss */
body {
  min-width: 325px;
  color: #666;
  font-family: Tahoma,Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;
  background-color: #f1f1f1;
  padding-top: 60px;
}

/* line 64, ../../sass/partials/base.scss */
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  height: 76px;
  width: 100%;
  background-color: white;
}
/* line 71, ../../sass/partials/base.scss */
.header .header-content {
  margin: 0 auto;
}
/* line 73, ../../sass/partials/base.scss */
.header .header-content .header-logo {
  display: block;
  width: 192px;
  height: 48px;
  margin-top: 10px;
  font-size: 3em;
}
/* line 81, ../../sass/partials/base.scss */
.header .header-content .navbar {
  height: 50px;
  margin-top: 10px;
}
/* line 84, ../../sass/partials/base.scss */
.header .header-content .navbar li {
  float: left;
}
/* line 86, ../../sass/partials/base.scss */
.header .header-content .navbar li a {
  display: block;
  font-size: 1.25em;
  margin-left: 35px;
  padding: 15px 0;
}
/* line 91, ../../sass/partials/base.scss */
.header .header-content .navbar li a:hover {
  color: #38a1b8;
}

/* line 105, ../../sass/partials/base.scss */
.footer .footer-siteinfo {
  width: 66%;
  margin: 0 auto;
  border-top: 1px solid #d4d4d4;
}
/* line 109, ../../sass/partials/base.scss */
.footer .footer-siteinfo li {
  float: left;
  width: 33%;
  height: 3em;
  line-height: 3em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #bbb;
}
/* line 121, ../../sass/partials/base.scss */
.footer .footer-sitelink {
  margin: 0 auto;
  padding: 5px 0 30px;
}
/* line 125, ../../sass/partials/base.scss */
.footer .footer-sitelink .nav-group {
  float: left;
  width: 25%;
}
/* line 128, ../../sass/partials/base.scss */
.footer .footer-sitelink .nav-group h3 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 2.2em;
  color: #666;
}
/* line 134, ../../sass/partials/base.scss */
.footer .footer-sitelink .nav-group li {
  line-height: 2.2em;
}
/* line 143, ../../sass/partials/base.scss */
.footer .footer-copyright {
  background-color: #d7d7d7;
  padding-top: 2em;
  text-align: center;
}
/* line 147, ../../sass/partials/base.scss */
.footer .footer-copyright .footer-logo {
  font-size: 1.25em;
  line-height: 2em;
}
/* line 152, ../../sass/partials/base.scss */
.footer .footer-copyright .footer-snsinfo {
  width: 118px;
  height: 26px;
  margin: 10px auto 0;
  padding-bottom: 30px;
}
/* line 157, ../../sass/partials/base.scss */
.footer .footer-copyright .footer-snsinfo a {
  position: relative;
  display: inline-block;
  height: 26px;
  width: 26px;
  font-size: 20px;
  line-height: 26px;
  margin-right: 15px;
  border-radius: 100%;
  background-color: #bebebe;
}
/* line 167, ../../sass/partials/base.scss */
.footer .footer-copyright .footer-snsinfo a .hoverbox {
  position: absolute;
  display: none;
  bottom: 36px;
  left: -62px;
  width: 150px;
  background-color: white;
  font-size: 14px;
}
/* line 175, ../../sass/partials/base.scss */
.footer .footer-copyright .footer-snsinfo a .hoverbox label {
  font-weight: bold;
}
/* line 178, ../../sass/partials/base.scss */
.footer .footer-copyright .footer-snsinfo a .hoverbox:after {
  content: '';
  position: absolute;
  left: 68px;
  bottom: -14px;
  border: 7px solid transparent;
  border-top: 7px solid white;
}
/* line 188, ../../sass/partials/base.scss */
.footer .footer-copyright .footer-snsinfo a:hover {
  background-color: #a4a4a4;
}
/* line 190, ../../sass/partials/base.scss */
.footer .footer-copyright .footer-snsinfo a:hover .hoverbox {
  display: block;
}
/* line 194, ../../sass/partials/base.scss */
.footer .footer-copyright .footer-snsinfo .snsinfo__weixin {
  margin-right: 0;
}
/* line 196, ../../sass/partials/base.scss */
.footer .footer-copyright .footer-snsinfo .snsinfo__weixin .wechat-code {
  width: 129px;
  height: 129px;
  margin: 2px auto;
  background-position: 0 0;
}

@media (min-width: 980px) {
  /* line 209, ../../sass/partials/base.scss */
  .footer-sitelink {
    width: 980px;
  }

  /* line 213, ../../sass/partials/base.scss */
  .header .header-content {
    width: 980px;
  }
}
@media (max-width: 480px) {
  /* line 222, ../../sass/partials/base.scss */
  .header .header-content {
    width: 100%;
  }

  /* line 227, ../../sass/partials/base.scss */
  .footer .footer-sitelink {
    width: 100%;
  }
  /* line 229, ../../sass/partials/base.scss */
  .footer .footer-sitelink .nav-group {
    width: 49.5%;
    border-bottom: 1px solid #eee;
  }
  /* line 232, ../../sass/partials/base.scss */
  .footer .footer-sitelink .nav-group:nth-child(odd) {
    border-right: 1px solid #eee;
  }
}
