/* line 56, base/*.png */
.base-sprite, .pg-home .wrapper-about .wrapper-code .wechat-code-mini {
  background-image: url('../../i/base-s2cd367b3e6.png');
  background-repeat: no-repeat;
}

/* line 80, home/*.png */
.home-sprite, .pg-home .wrapper-about .wrapper-pic, .pg-home .wrapper-line .wrapper-main, .pg-home .wrapper-person .wrapper-main .wrapper-pic, .pg-home .wrapper-find .wrapper-pic, .pg-home .wrapper-show .wrapper-main {
  background-image: url('../../i/home-scf65439db3.png');
  background-repeat: no-repeat;
}

/* line 6, ../../sass/partials/home.scss */
.pg-home .wrapper {
  height: 678px;
  overflow: hidden;
}
/* line 9, ../../sass/partials/home.scss */
.pg-home .wrapper .wrapper-main {
  padding-top: 40px;
  width: 980px;
  margin: 0 auto;
}
/* line 14, ../../sass/partials/home.scss */
.pg-home .wrapper .wrapper-main h2.wrapper-title {
  font-size: 4em;
  color: #777;
  text-align: center;
  line-height: 1.3em;
  font-weight: bold;
}
/* line 21, ../../sass/partials/home.scss */
.pg-home .wrapper .wrapper-main h4.wrapper-describe {
  font-size: 1.2em;
  color: #777;
  text-align: center;
  line-height: 1.4em;
}
/* line 32, ../../sass/partials/home.scss */
.pg-home .wrapper-about {
  background-color: #bce2e8;
}
/* line 34, ../../sass/partials/home.scss */
.pg-home .wrapper-about .wrapper-code {
  position: relative;
  width: 336px;
  height: 108px;
  padding: 25px 20px;
  margin: 50px 0 50px 50px;
  border-radius: 8px;
  background-color: #38a1b8;
}
/* line 43, ../../sass/partials/home.scss */
.pg-home .wrapper-about .wrapper-code a {
  position: relative;
  display: block;
  width: 220px;
  color: white;
  border: 1px solid white;
  margin-bottom: 25px;
}
/* line 50, ../../sass/partials/home.scss */
.pg-home .wrapper-about .wrapper-code a img {
  position: absolute;
  left: 5px;
  height: 40px;
}
/* line 55, ../../sass/partials/home.scss */
.pg-home .wrapper-about .wrapper-code a p {
  padding: 5px 0 5px 60px;
  width: 166px;
}
/* line 61, ../../sass/partials/home.scss */
.pg-home .wrapper-about .wrapper-code .wechat-code-mini {
  position: absolute;
  right: 16px;
  top: 36px;
  width: 96px;
  height: 96px;
  background-position: 0 -131px;
}
/* line 70, ../../sass/partials/home.scss */
.pg-home .wrapper-about .wrapper-pic {
  float: right;
  margin-right: 64px;
  margin-top: 9px;
  width: 241px;
  height: 385px;
  background-position: 0 0;
}
/* line 81, ../../sass/partials/home.scss */
.pg-home .wrapper-line {
  overflow: hidden;
  background-color: #eebbcb;
}
/* line 84, ../../sass/partials/home.scss */
.pg-home .wrapper-line .wrapper-main {
  height: 425px;
  width: 1000px;
  margin: 253px auto 0;
  padding: 0;
  background-position: 0 -405px;
}
/* line 90, ../../sass/partials/home.scss */
.pg-home .wrapper-line .wrapper-main .wrapper-cc {
  float: left;
  height: 600px;
  width: 33%;
  color: #333;
  text-align: center;
  font-weight: bold;
}
/* line 97, ../../sass/partials/home.scss */
.pg-home .wrapper-line .wrapper-main .wrapper-cc p {
  font-size: 26px;
  line-height: 40px;
}
/* line 101, ../../sass/partials/home.scss */
.pg-home .wrapper-line .wrapper-main .wrapper-cc h3.wrapper-describe {
  font-size: 60px;
  line-height: 70px;
}
/* line 109, ../../sass/partials/home.scss */
.pg-home .wrapper-person {
  background-color: #a1a46d;
}
/* line 112, ../../sass/partials/home.scss */
.pg-home .wrapper-person .wrapper-main .wrapper-pic {
  width: 313px;
  height: 674px;
  margin-left: 80px;
  background-position: 0 -850px;
}
/* line 118, ../../sass/partials/home.scss */
.pg-home .wrapper-person .wrapper-main .wrapper-cc {
  margin-top: 200px;
  margin-left: 200px;
  color: white;
  font-weight: bold;
}
/* line 123, ../../sass/partials/home.scss */
.pg-home .wrapper-person .wrapper-main .wrapper-cc h3.wrapper-describe {
  font-size: 48px;
  line-height: 60px;
}
/* line 127, ../../sass/partials/home.scss */
.pg-home .wrapper-person .wrapper-main .wrapper-cc p {
  font-size: 24px;
  line-height: 40px;
}
/* line 131, ../../sass/partials/home.scss */
.pg-home .wrapper-person .wrapper-main .wrapper-cc .wrapper-cc-nav {
  margin-top: 15px;
}
/* line 133, ../../sass/partials/home.scss */
.pg-home .wrapper-person .wrapper-main .wrapper-cc .wrapper-cc-nav li {
  float: left;
  margin-right: 10px;
  width: 50px;
  padding: 5px 10px;
  border: 1px solid white;
  text-align: center;
}
/* line 147, ../../sass/partials/home.scss */
.pg-home .wrapper-find {
  background-color: #a23a52;
}
/* line 149, ../../sass/partials/home.scss */
.pg-home .wrapper-find .wrapper-main {
  color: white;
}
/* line 151, ../../sass/partials/home.scss */
.pg-home .wrapper-find .wrapper-main .wrapper-cc {
  margin-top: 150px;
  margin-left: 90px;
}
/* line 154, ../../sass/partials/home.scss */
.pg-home .wrapper-find .wrapper-main .wrapper-cc h3.wrapper-describe {
  font-size: 48px;
  line-height: 60px;
}
/* line 158, ../../sass/partials/home.scss */
.pg-home .wrapper-find .wrapper-main .wrapper-cc p {
  font-size: 24px;
  line-height: 40px;
}
/* line 164, ../../sass/partials/home.scss */
.pg-home .wrapper-find .wrapper-pic {
  width: 307px;
  height: 563px;
  margin-top: 75px;
  margin-left: 60px;
  background-position: 0 -1517px;
}
/* line 173, ../../sass/partials/home.scss */
.pg-home .wrapper-show {
  background-color: #38a1b8;
}
/* line 175, ../../sass/partials/home.scss */
.pg-home .wrapper-show h2 {
  color: white;
  font-weight: bold;
  font-size: 100px;
  padding-top: 20px;
  text-align: center;
}
/* line 181, ../../sass/partials/home.scss */
.pg-home .wrapper-show h2 em {
  color: #f5f5ee;
  font-size: 120px;
}
/* line 186, ../../sass/partials/home.scss */
.pg-home .wrapper-show .wrapper-main {
  width: 100%;
  margin-top: 58px;
  height: 260px;
  background-position: 0 -2100px;
  background-repeat: repeat-y;
}
