/* line 56, test/*.png */
.test-sprite, .icon-test {
  background-image: url('../../i/test-s1ebc84910f.png');
  background-repeat: no-repeat;
}

/* line 3, ../../sass/partials/test.scss */
.icon-test {
  width: 43px;
  height: 40px;
  background-position: 0 0;
}
