.btn-toggle {
    float:right;position:relative;top:9px;right:10px;
}
.btn-toggle-btn {
    display:inline-block;
    width:24px;height:20px;
    border:1px solid #d8d8d8;
    border-left: 0;

    &:first-child {
        border-left:1px solid #d8d8d8;
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;
    }

    &:last-child {
        border-top-right-radius:3px;
        border-bottom-right-radius:3px;
    }

    &.active {
        background-color: #4078c0;
        border-color: #4078c0;
    }

    i {
        display: block;position:relative;
        &:before, &:after {
            content: ''; position: absolute;
        }
    }

    &.btn-normal {
        i {
            background-color: #bbb;
            width:11px;height:11px;
            left:6px;top:4px;
            &:before, &:after {
                background-color: #f5f5f5;
            }
            &:before {
                top:5px;left:0px;
                width:11px;height:1px;
            }
            &:after {
                top:0;left:5px;
                width:1px;height:11px;
            }
        }
        &.active {
            i {
                background-color: #f5f5f5;
                &:before, &:after {
                    background-color: #4078c0;
                }
            }
        }
    }

    &.btn-bar {
        i, i:before, i:after {
            background-color: #f5f5f5;
            border:1px solid #bbb;   

            -webkit-transform: skewY(30deg);
            transform: skewY(30deg);
        }
        i{
            top:8px;left:6px;
            width:6px;height:6px;
            &:before {
                top:-5px;left:4px;
                width:4px;height:5px;
                -webkit-transform: skewY(-50deg);
                transform: skewY(-50deg);
            }
            &:after {
                top:-8px;left:2px;
                width:3px;height:6px;
                -webkit-transform: skewX(-40deg);
                transform: skewX(-40deg);
            }
        }
        &.active {
            i, i:before, i:after {
                background-color: #4078c0;
                border-color:#f5f5f5;
            }
        }
    }

    &.btn-pie {
        i {
            z-index:2;
            top:8px;left:6px;
            width:12px;height:5px;
            background-color:#f5f5f5;
            border-left:1px solid #bbb;
            border-right:1px solid #bbb;
            &:before, &:after {
                left:-1px;
                width:10px;height:5px;
                border:1px solid #bbb;
                border-radius:100%;
                background-color:#f5f5f5;
            }
            &:before {
                top:-4px;
            }
            &:after {
                bottom:-2px;
                z-index:-1;
            }
        }
        &.active{
            i, i:before, i:after {
                background-color:#4078c0;
                border-color:#f5f5f5;
            }
        }
    }
}

.js-calendar-d-svg {
    g{
        &:hover {
            polygon {
                stroke:#4078c0;
                stroke-width: 1px;
            }
        }
    }
}
