<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BOMP</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="boot.css">

</head>
<body>
    <ul id="J-bacNav" class="bacNav"></ul>
    <div class="wrapper-overlay" id="J-overlay">
        <div class="wrapper-overlay-content" id="J-overtent">
        </div>
    </div>
    <!--弹出框模板-->
    <script type="text/x-template" id="start-dialog-markup">
        <h2><i class="fa fa-gears"></i>难度~</h2>
        <ul class="overNav" id="J-hard" data-id="2">
            <li class="selected" data-id="2">易</li>
            <li class="selected" data-id="4"></li>
            <li class="selected" data-id="5">难</li>
            <li class="" data-id="6"></li>
            <li class="" data-id="7">易</li>
        </ul>
    </script>

    <script src="boot.js"></script>
</body>
</html>
