

body {font-family: "PingHei","Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial","Verdana","sans-serif"}

.bacNav {margin:0 auto;}
.bacNav>li {width:100%;height:2em;}
.subNav {width:100%;height:2em;overflow:hidden;}
.subNav>li {float:left;width:2em;height:2em;border:0.1em solid #ddd;color:white;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;line-height:2em;text-align:center;}
.subNav>li:hover {background-color:#ddd;color:#ddd;cursor:pointer;}
.subNav>li.disabled,.subNav>li.disabled:hover {background-color:#eee;cursor:auto;color:red;font-weight:bold;}

.wrapper-overlay {display:none;position:absolute;top:0;left:0;background-color:#000;opacity:0.2;}
.wrapper-overlay-content {position:fixed;width:30em;height:20em;background-color:white;margin-top:5em;margin-left:-15em;left:50%;}
.wrapper-overlay-content h2 {font-size:4em;text-align:center;line-height:2em;}
.wrapper-overlay-content .overNav {width:28em;height:4em;margin:3em auto;overflow:hidden;}
.wrapper-overlay-content .overNav li {float:left;font-size:4em;width:1.175em;height:1em;font-weight:bold;margin-left:0.25em;background-color:#d4d4d4;cursor:pointer;text-align:center;}
.wrapper-overlay-content .overNav li:first-child {margin-left:0;}
.wrapper-overlay-content .overNav li.selected {background-color:#2BB6AA;}


.bacNav--fail li.fa-bomb {color:#2BB6AA;}

/* 大屏幕 */
@media (min-width: 1200px) {
    .bacNav{width:960px;height:960px;}
    body{font-size:24px;}/*20*/
}

/* 小屏幕与大屏幕 */
@media (min-width: 980px) and (max-width: 1199px) {
    .bacNav{width:880px;height:880px;}
    body{font-size:22px;}/*20*/
}
 
/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {
    .bacNav{width:760px;height:760px;}
    body{font-size:20px;}/*19*/
}
 
/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (min-width: 481px) and (max-width: 767px) {
    .bacNav{width:468px;height:468px;}
    body{font-size:18px;}/*13*/
}
 
/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {
    .bacNav{width:416px;height:416px;}
    body{font-size:16px;}/*13*/
}
