@charset "UTF-8";
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/base.scss */
.cf:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* line 15, ../sass/base.scss */
.fl {
  float: left;
}

/* line 18, ../sass/base.scss */
.fr {
  float: right;
}

/* line 21, ../sass/base.scss */
.ct {
  margin: 0 auto;
}

/* line 24, ../sass/base.scss */
a {
  color: #666;
  text-decoration: none;
}

/* line 28, ../sass/base.scss */
body {
  min-width: 980px;
  color: #666;
  font-family: Tahoma,Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;
  background-color: #f1f1f1;
}

/* line 40, ../sass/base.scss */
.footer .footer-siteinfo {
  width: 66%;
  margin: 0 auto;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
/* line 45, ../sass/base.scss */
.footer .footer-siteinfo li {
  float: left;
  width: 33%;
  height: 3em;
  line-height: 3em;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #bbb;
}
/* line 57, ../sass/base.scss */
.footer .footer-copyright {
  background-color: #d7d7d7;
  height: 7em;
  padding-top: 2em;
  text-align: center;
}
/* line 62, ../sass/base.scss */
.footer .footer-copyright .footer-logo {
  font-size: 1.25em;
  line-height: 2em;
}
/* line 67, ../sass/base.scss */
.footer .footer-copyright .footer-snsinfo {
  width: 118px;
  height: 26px;
  margin: 10px auto;
}
/* line 71, ../sass/base.scss */
.footer .footer-copyright .footer-snsinfo a {
  position: relative;
  display: inline-block;
  height: 26px;
  width: 26px;
  font-size: 20px;
  line-height: 26px;
  margin-right: 15px;
  border-radius: 100%;
  background-color: #bebebe;
}
/* line 81, ../sass/base.scss */
.footer .footer-copyright .footer-snsinfo a .hoverbox {
  position: absolute;
  display: none;
  bottom: 40px;
  left: -75px;
  width: 150px;
  background-color: white;
  font-size: 14px;
}
/* line 91, ../sass/base.scss */
.footer .footer-copyright .footer-snsinfo a:hover {
  background-color: #a4a4a4;
}
/* line 93, ../sass/base.scss */
.footer .footer-copyright .footer-snsinfo a:hover .hoverbox {
  display: block;
}
/* line 95, ../sass/base.scss */
.footer .footer-copyright .footer-snsinfo a:hover .hoverbox label {
  font-weight: bold;
}
/* line 100, ../sass/base.scss */
.footer .footer-copyright .footer-snsinfo .snsinfo__weixin {
  margin-right: 0;
}
