@import "compass/reset";
@import "modules/basic-color";
@import "modules/basic-size";
@import "sp/base/index";

* {
	-webkit-transition: 0.5s;
    -moz-transition: 0.5s;
	transition: 0.5s;
}
.cf {
	&:after {
		content:'';
		display:block;
		clear:both;
		height:0;
		overflow:hidden;
		visibility:hidden;
	}
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.ct {
	margin:0 auto;
}
a {
	color:$color-text;
	text-decoration:none;
}
a.common-link {
	display:block;
	border-bottom:1px solid darken($color-bg-light, 10%);
	&:hover {
		color:$color-September;
		border-bottom:1px solid $color-September;
		&:before, &:after {
			color:$color-September;
		}
	}
	&:before {
		content:"{";
	}
	&:after {
		content:"}";
	}
	&:before, &:after {
		color:darken($color-bg-light, 10%);
		
	}
	
}
body {
	min-width:$pg-width-min;
	color:$color-text;
	font-family:Tahoma,Arial,”Helvetica Neue“,”Hiragino Sans GB”,Simsun,sans-self;
	background-color:$color-bg-light;
	padding-top:60px;
}

.header {
	position:fixed;
	z-index:99;
	top:0;
	height:76px;
	width:100%;
	background-color:white;
	.header-content {
		margin:0 auto;
		.header-logo {
			display:block;
			width:192px;
			height:48px;
			margin-top:10px;	
			font-size:3em;
		
		}
		.navbar {
			height:50px;
			margin-top:10px;
			li {
				float:left;
				a {
					display:block;
					font-size:1.25em;
					margin-left:35px;
					padding:15px 0;
					&:hover {
						color:$color-July;
					}
				}
			}
		}
	}

}




.footer {
	.footer-siteinfo {
		width:66%;
		margin:0 auto;
		border-top:1px solid darken($color-border-normal, 10%);
		li {
			float:left;
			width:33%;
			height:3em;
			line-height:3em;
			text-align:center;
			font-size:2em;
			font-weight:bold;
			color:$color-text-light;
		}
	}

	.footer-sitelink {
		margin:0 auto;	
		padding:5px 0 30px;
		//background-color:darken($color-bg-light, 5%);
		.nav-group {
			float:left;
			width:25%;
			h3 {
				font-weight:bold;
				font-size:1.5em;
				line-height:2.2em;
				color:$color-text;
			}
			li {
				line-height:2.2em;
				a {
					@extend a.common-link;
				}
			}
		}
	}

	.footer-copyright {
		background-color:darken($color-bg-light, 10%);
		padding-top: 2em;
		text-align:center;
		.footer-logo {
			font-size:1.25em;
			line-height:2em
		}

		.footer-snsinfo {
			width:118px;
			height:26px;
			margin:10px auto 0;
			padding-bottom:30px;
			a {
				position:relative;
				display:inline-block;
				height:26px;
				width:26px;
				font-size:20px;
				line-height:26px;
				margin-right:15px;
				border-radius:100%;
				background-color:darken($color-bg-light, 20%);
				.hoverbox {
					position:absolute;
					display:none;
					bottom:36px;
					left:-62px;
					width:150px;
					background-color:white;
					font-size:14px;
					label {
						font-weight:bold;
					}
					&:after {
						content:'';
						position:absolute;
						left:68px;
						bottom:-14px;
						border:7px solid transparent;
						border-top:7px solid white;
					}
				}
			}
			a:hover {
				background-color:darken($color-bg-light, 30%);
				.hoverbox {
					display:block;
				}
			}
			.snsinfo__weixin {
				margin-right:0;
				.wechat-code {
					width:129px;
					height:129px;
					margin:2px auto;
					@include base-sprite(wechat-code-129X129);
				}
			}
		}
	}

}

@media (min-width: 980px) {
	.footer-sitelink {
		width:980px;
	}
	.header {
		.header-content {
			width:980px;
		}
	}
	
}

@media (max-width: 480px) {
	.header {
		.header-content {
			width:100%;
		}
	}
	.footer {
		.footer-sitelink {
			width:100%;
			.nav-group {
				width:49.5%;
				border-bottom:1px solid $color-border-normal;
				&:nth-child(odd) {
					border-right:1px solid $color-border-normal;
				}
			}
		}
	}
}
