//颜色规范

//背景色
$color-bg-dark:#1d1f20;
$color-bg-light:#f1f1f1;


//边框色
$color-border-normal:#eee;

//文字、链接色
$color-link:#2bb8aa;
$color-highlight:#f76120;
$color-title:#333;
$color-text:#666;
$color-text-weaken:#999;
$color-text-light:#bbb;


//风格色
$color-January:#f5f5ee;
$color-February:#a1a46d;
$color-March:#ed8cb5;
$color-April:#a23a52;
$color-May:#eebbcb;
$color-June:#bce2e8;
$color-July:#38a1b8;
$color-August:#a0d8ef;
$color-September:#522f60;
$color-October:#7da457;
$color-November:#da81b2;
$color-December:#eb6101;
