<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>孙思源和封苏林</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="wedding/reset.css">
    <link rel="stylesheet" href="wedding/wedding.css">

</head>
<body>
	<div class="bacContent">
	<img style="height:0;width:0;"src="wedding/tab.jpg"/>
	<ul class="bacNav" id="J-bacNav">
		<li class="show show--first show--1">
			<h1>我们结婚啦</h1>
			<div class="J-btn after" data-id="1">^</div>
		</li>
		<li class="show show--2">
			<h2><span>相识</span><span>2013年2月14日</span></h2>
			<div class="J-btn before" data-id="0">^</div>
			<div class="J-btn after" data-id="2">^</div>
		</li>
		<li class="show show--3">
			<h2><span>相知</span><span>658天</span></h2>
			<div class="J-btn before" data-id="1">^</div>
			<div class="J-btn after" data-id="3">^</div>
		</li>
		<li class="show show--4">
			<h2><span>步入殿堂</span><span>12月4日</span></h2>
			<div class="J-btn before" data-id="2">^</div>
			<div class="J-btn after" data-id="4">^</div>
		</li>
		<li class="show show--5 show--5_2">
			<h2><span>从此是你的专属开心果</span></h2>
			<div class="J-btn before" data-id="3">^</div>
			<div class="J-btn after" data-id="5">^</div>
		</li>
		<li class="show show--6">
			<h2><span>背起你，就是一辈子</span></h2>
			<div class="J-btn before" data-id="4">^</div>
			<div class="J-btn after" data-id="6">^</div>
		</li>
		<li class="show show--last show--7">
			<h2>I DO</h2>
			<div class="J-btn before" data-id="5">^</div>
		</li>
	</ul>
	</div>
	<ul class="tabNav J-tabNav">

	</ul> 
	<div class="music-st" id="music">
		<span id="musicText">播放</span>
		<i class="fa fa-music" id="musicIcon"></i>
		<audio controls="controls" loop="loop" id="audio">
			<source src="wedding/wedding.mp3" type="audio/mpeg">
		</audio>
	</div>



	<!--弹出框基板-->
    <div class="wrapper-overlay" id="J-overlay">
        <div class="wrapper-overlay-content" id="J-overtent">
        </div>
    </div>
    <!--弹出框模板-->
    <script type="text/x-template" id="start-dialog-markup">
        
    </script>

    <script src="wedding/wedding.js"></script>
</body>
</html>
