@import "../modules/basic-Zindex";
@import "../modules/basic-responsive";
@import "../modules/basic-color";
@import "../modules/basic-animation";

.header {
	position:fixed;
	z-index:$Zindex-header;
	width:100%;
	min-width:0.5*$pg-minwidth;
	.header-logo {
		display:block;
		width:100px;height:100px;
		background-color:white;
	}
	.header-guide-info {
		display:none;
	}
	.header-guide {
		a {
			display:block;
			float:left;
			margin:15px 40px 0 0;
			padding-bottom:5px;
			font-size:0.8*$header-info-width;
			text-decoration:none;
			color:$color-January;
			transition: .5s; -webkit-transition: .5s;
			&:hover {
				color:$color-August;
				border-bottom: 2px solid $color-August;
			}
		}
		a.selected {
			color:$color-August;
			border-bottom: 2px solid $color-August;
		}
	}
}

.pg-home .header {
	height:0;
	.header-logo {
		display:none;
	}
	.header-guide {
		display:none;
		font-weight:bold;
		background-color:$color-January;
		border:3px solid $color-July;
		margin:5px 20px 5px 5px;
		.header-guide-info {
			display:block;
			width:$header-info-width;
			padding:3px;
			border:1px solid $color-July;
			margin:3px;
			font-family: "MHei",STHeitiTC-Light,"Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
			font-size:$header-info-width;
			line-height:$header-info-width*1.2;
			color:$color-July;
			cursor:pointer;
		}
		.header-guide-nav {
			width:125px;
			margin:10px $header-info-width 10px 10px;
			a {
				display:block;
				float:left;
				color:$color-July;
				margin:9px 0 9px 0;
				padding-bottom:1px;
				border-bottom:1px solid $color-January;
				font-size:0.6*$header-info-width;
				text-decoration:none;
				&:hover {
					color:$color-September;
					border-bottom:1px solid $color-September;
					&:before, &:after {
						color:$color-September;
						transition: .5s; -webkit-transition: .5s;
					}
					transition: .5s; -webkit-transition: .5s;
				}
				&:before {
					content:"{";
				}
				&:after {
					content:"}";
				}
				&:before, &:after {
					color:$color-January;
					font-size:0.8*$header-info-width;
					font-weight:normal;
				}
				span {
					font-size:0.4*$header-info-width;
				}
			}
		}
	}
}


