@import "../modules/basic-color";

.drawerPanel__guideNav {
	position:fixed;
	top:44px;
	width:700px;
	text-align:center;
	margin:0 auto;
	border-bottom:1px solid red;
	li {
		float:left;
		width:200px;
		height:50px;
		line-height:50px;
		cursor:pointer;
	}	

}
.wrapper-content {
	margin-top:94px;
}
.drawerPanel__contentNav {
	height:1000px;
}
.drawerPanel__contentNav {
	width:900px;
	margin:0 auto;
	li {
		width:900px;
		height:300px;
		background-color:white;
	}
}
